.loaderParent {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader {
  animation: bounce 1s infinite alternate;
}

.logo {
  width: 70px;
  height: auto;
  animation: brightness 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .logo {
    width: 60px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes brightness {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


